.features-content {
  padding: 3em 3em;
}

.feature {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-content: center;
  padding: 1em 2em;
}

.feature-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1.5em;
}

.feature-icon-img {
  margin: auto;
  padding: auto;
}

.feature-text {
  height: auto;
}

@media (max-width: 640px) {
  .features-content {
    padding: 0.5em;
  }
}
